<!DOCTYPE html>
<html>
<head>
  <title>LaundryTime</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application.scss" %>
  <style>
    body {
      background-color: rgb(204, 255, 253);
      margin-top: 50px;
      color: #633472;
    h1 {
      text-align: center;
    }

    h2 {
      text-align: left;
    }

  </style>

</head>


<body>
<%= render 'shared/navigation' %>
<div class="container">
  <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message) %>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
