<!DOCTYPE html>
<html>
<head>
  <%= favicon_link_tag(source='favicon.ico') %>
  <title>LaundryTime</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>
<%= render 'shared/navigation' %>
<div class="container">
  <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: ['text-center', flash_class(key)]) %>
  <% end %>
  <%= yield %>
</div>
</body>
</html>
